{% extends 'base.html.twig' %}

{% block body_id 'log_list' %}

{% block title %}{{ user.fullName }}'s log listing!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user.fullName }}! ✅</h1>

    {% for l in log %}
        <div class="border border-dark row log">
            <div class="col-md-10">
                Log Date: {{ l.LogDate|date('Y-m-d') }}<br>
                Log Entry: {{ l.LogMessage|raw }}
            </div>
            <div class="col-md-2">
                <a href="{{ path('edit_log', {'id': l.id}) }}" class="btn btn-warning pull-right">Edit</a>
                <a href="{{ path('delete_log', {'id': l.id}) }}" class="btn btn-danger pull-right">Delete</a><br>
            </div>
        </div>
    {% else %}
        <div class="border border-dark row log">
            You don't have any logs yet, please start logging and watch them appear!
        </div>
    {% endfor %}
</div>
{% endblock %}
